<footer class="footer" *ngFor="let content of footerContent">

  <div class="container-icons-menu">

    <div class="logo-and-medias">
      <img class="logo" src="{{content.logo}}" alt="Logo">

      <div class="medias-container">
        <div class="medias" *ngFor="let icon of content.icons">
          <img class="media-icon" src="{{icon}}" alt="social media">
        </div>
      </div>

    </div>
    <nav class="nav">
      <ul class="menu" *ngFor="let link of content.menu">
        <li><a routerLink="{{link.toLowerCase()}}">{{link}}</a></li>
      </ul>
    </nav>

  </div>

  <div class="cta-copywrite">
    <div class="cta-footer">
      <p class="text-cta">{{content.cta}}</p>
      <img class="arrow" src="{{content.arrowIcon}}" alt="arrow">
    </div>

    <div class="copywrite">
      <p>{{content.copy}}</p>
    </div>
  </div>

</footer>