@import url('../../../../shared/components/home-components/apresentation/apresentation.component.scss');

.footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 80px 20px;
  color: #f4f5f7;
  background-color: #222;
}

.container-icons-menu {
  grid-column: span 6;
  display: flex;
  justify-content: space-evenly;
  height: 150px;

  @media (max-width: 900px){
    justify-content: flex-start;
  }

  @media (max-width: 600px) {
    grid-column: span 12;
    justify-content: center;
  }
}

.logo-and-medias {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 30px;

  @media (max-width: 600px) {
    justify-content: center;
    align-items: center;
  }

}

.medias-container {
  display: flex;
  gap: 10px;
}

.media-icon {
  cursor: pointer;
  transition: all 0.1s linear;
}

.media-icon:hover {
  transform: scale(1.1);
}

.cta-copywrite {
  display: flex;
  flex-direction: column;
  grid-column: span 6;
  align-items: end;
  justify-content: space-evenly;

  @media (max-width: 600px) {
    grid-column: span 12;
    align-items: center;
    gap: 80px;
    justify-content: center;
  }
}

.cta-footer {
  display: flex;
  gap: 20px;
  align-items: center;
}

.arrow {
  height: 15px;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;

  @media (max-width: 900px){
    flex-direction: row;
    align-items: flex-end;
  }
}

.nav ul li a {
  color: #f4f5f7;
  background-image: linear-gradient(
    to right,
    #fff,
    #888 50%,
    #fff 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.nav ul li a:before {
  content: '';
  background: #f4f5f7;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.nav ul li a:hover {
  background-position: 0;
}

.nav ul li a:hover::before {
  width: 100%;
}