<header class="header">
  <div class="logo">
    <a routerLink="/">
      <img src="{{srcLogo}}" alt="Logo">
    </a>
  </div>

  <nav class="navbar">
    <ul class="nav-menu" (click)="toggleMenu()" [class.active]="isMenuOpen">
      <li class="nav-item" *ngFor="let link of links">
        <a class="nav-link" routerLink="{{link.path}}">{{link.content}}</a>
      </li>
    </ul>

    <div class="hamburger" (click)="toggleMenu()" [class.active]="isMenuOpen">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </nav>

  <button class="btn">
    GET AN INVITE
  </button>
</header>