<section class="features-container" *ngIf="currentRoute === '/features'">

  <div class="description">
    <div class="infos" [@slideInLeftOnEnter]>
      <h3 class="title">Features</h3>

      <p class="text">
        We make sure all of our features are designed to be loved by every aspiring and even professional photograpers who wanted to share their stories.
      </p>
    </div>
  </div>

  <div class="image" style="background-image: url(../../../../../assets/features/desktop/hero.png);"></div>

</section>

<section class="features-container" *ngIf="currentRoute === '/pricing'">

  <div class="description">
    <div class="infos" [@slideInLeftOnEnter]>
      <h3 class="title">Pricing</h3>

      <p class="text">
        Create a your stories, Photosnap is a platform for photographers and visual storytellers. It’s the simple way to create and share your photos.
      </p>
    </div>
  </div>

  <div class="image" style="background-image: url(../../../../../assets/pricing/desktop/hero.png);"></div>

</section>