
.header {
  display: flex;
  background-color: red;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.links {
  display: flex;
  gap: 40px;
}

.btn {
  background-color: #222;
  color: #f4f5f7;
  padding: 8px 15px;
  font-weight: 500;
}