.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 40px;
  gap: 30px;
  text-align: center;

  @media (max-width: 600px) {
    padding: 20px 0px;
  }
}

.container-img {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 1.2rem;
}

.description {
  font-size: 1rem;
  opacity: 0.9;
  width: 80%;

  @media (max-width: 600px) {
    
  }
}

.feature {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;

  @media (max-width: 900px) {
    grid-column: span 6;
  }

  @media (max-width: 600px) {
    grid-column: span 12;
    padding: 10px 0px;
  }
}